
<div class="signalr-demo">

    <input type="button" value="Join Group" id="btnPrivateGroup" />

    @*<div id="senderUId">@HttpContext.Session.Id</div>*@
    <form id="messageform">
        <input type="text" id="messagebox" />
        <input type="button" value="Send Message" id="btnSend" />
    </form>
    <hr />
    <ul id="messageList" style="text-align:left;"></ul>
</div>

